@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');@font-face {
  font-family: 'IWOO';
  src: url('https://cdn.jsdelivr.net/gh/sn2025-webfont/iwoo-webfont@main/IWOO.woff2?v=1') format('woff2');
  font-display: swap;
}
@font-face {
    font-family: 'Asta Sans';
    src: url('./Asta Sans.woff2') format('woff2');
}
@font-face {
    font-family: 'HakgyoansimBareondotumR';
    src: url('./HakgyoansimBareondotumR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, section, button, input, textarea, select {
  letter-spacing: -0.05em;
  line-height: 1em;
  font-family: 'Asta Sans', 'IWOO', sans-serif;
  font-synthesis: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: auto;
}

body, html { overflow-x: hidden; margin: 0; padding: 0; background-color: var(--iw-1); }

p { margin: 0; } button { border: none; } input, textarea, select, button, .iw-typo:focus{ outline: none; }

/* var */
  :root {
  --iw-1: #eceef2;
  --iw-2: #dcdee2;
  --iw-3: #7b95aa;
  --iw-4: #1d2c3f;
  --iw-5: #0a141e; 
  --iw-6: #1e1411;
  --iw-7: #3e312a;
  --iw-8: #726558; 
 

  --iw-1r: 236, 238, 242;
  --iw-2r: 220, 222, 226;
  --iw-3r: 123, 149, 170;
  --iw-4r: 29, 44, 63;
  --iw-5r: 10, 20, 30; 
  --iw-6r: 30, 20, 17;
  --iw-7r: 69, 49, 42;
  --iw-8r: 114, 101, 88;
 

  --iw-mo: cubic-bezier(0.5, 0, 0, 1);
  --iw-space: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}



section, section * {
  word-break: keep-all;
  overflow-wrap: break-word;
}


/* gradient box ------------------------------------------------------------- */

.svg-title-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
}

.gradient-box {
  position: relative;
  width: 100%;
  height: 100vh;

  z-index: 10;
  overflow: visible;
  
  background: linear-gradient(
    to bottom, 
    var(--iw-3) 0%,

    transparent 90%
  );

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-inline: var(--iw-space);
  padding-top: var(--iw-space);
  /* padding-bottom: 60px; */
}

.gradient-box::before {
  content: "";
  position: absolute;
  inset: 0;
  
  background: linear-gradient(
    to top,
    rgba(var(--iw-1r), 1) 0%,
    rgba(var(--iw-1r), 0) 100%
  );
  
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */

  z-index: 1;
}

#glcanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.responsive-svg-logo {
  width: 100%; 
  height: auto;
  display: block;

  overflow: visible;
  mix-blend-mode: hard-light;

  /* svg */
  fill: rgba(var(--iw-5r), 0.7);
  transition: opacity 0.5s var(--iw-mo);
}

.responsive-svg-logo.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.svg-title-wrap,
.info-toggle-wrap {
  position: relative;
  z-index: 10;
}

.pc-logo { display: block; }
.mo-logo { display: none; }

@media (max-width: 768px) {
  .pc-logo { display: none; }
  .mo-logo { display: block; }
}



/* 슬라이더 -------------------------------------------------------------------------- */
.custom-slider {
  --slide-duration: 3000ms; 
  position: relative;
  overflow: hidden;
  cursor: grab;
  flex: 3;
  aspect-ratio: 3 / 4;
}
.custom-slider:active {
  cursor: grabbing;
}
.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  will-change: transform;
}
.slider-track img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

/* 인디케이터 (분할된 일자 막대 형태) ------------------------------------------------------------- */
.slider-dots {
  position: absolute;
  bottom: 0; /* 화면 가장 아래에 배치 */
  left: 0;
  width: 100%; /* 전체 너비 사용 */
  display: flex;
  gap: 5px; /* 분할된 막대 사이의 간격 */
  z-index: 10;
  align-items: center;
  padding: 10px 10px; /* 좌우, 하단 여백 */
  box-sizing: border-box;
}

/* 개별 분할 막대 */
.slider-dots .dot {
  flex: 1; /* 사진 개수에 따라 자동으로 1/N 씩 동일한 너비를 가짐 */
  height: 3px; /* 막대 두께 */
  position: relative;
  cursor: pointer;
  background-color: rgba(var(--iw-1r), 0.3); /* 반투명한 배경 */
  overflow: hidden; /* 게이지가 막대를 넘어가지 않도록 */
}

/* 차오르는 게이지 */
.slider-dots .dot .progress {
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 0%; /* JS에서 0~100%로 조절 */
  background: var(--iw-1, 1); /* 게이지 색상 */
}


/* 기본 글자 ------------------------------------------------------------- */

/* 제목 */
.scroll-animate-text {
  font-family: 'Geist';
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.06em;

  padding-bottom: var(--iw-space);

  font-variation-settings: 'wght' 400;

  text-transform: uppercase;

  color: rgba(var(--iw-4r), 1);
  
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s var(--iw-mo), transform 1s var(--iw-mo);

  word-break: keep-all; 
  overflow-wrap: break-word;
}
.scroll-animate-text.scroll-animate-text-typo {
  font-family: 'IWOO', sans-serif;
  font-size: 5vw;

  line-height: 0.85;
  letter-spacing: -0.06em;

  font-variation-settings: 'wght' 300;

  text-transform: uppercase;

  color: rgba(var(--iw-4r), 1);
  
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s var(--iw-mo), transform 1s var(--iw-mo);

  word-break: keep-all; 
  overflow-wrap: break-word;
}


/* 한글 내용 */
.sub-title {
  color: var(--iw-4);
  /* 최소 유동 최대 */
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 1.5;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s var(--iw-mo), transform 1s var(--iw-mo);

  word-break: keep-all; 
  overflow-wrap: break-word;
}



/* 모바일 */
@media (max-width: 768px) {
  .scroll-animate-text.scroll-animate-text-typo {
    font-size: 10vw;
  }
  /* geist */
  .scroll-animate-text {
    font-size: 20px;
  }
}



.scroll-animate-text.is-visible,
.sub-title.is-visible,
.scroll-animate-text-typo.is-visible {
  opacity: 1;
  transform: translateY(0);
}
/*
@media (max-width: 768px) {
  .scroll-animate-text {
    font-size: 5vw;
    font-variation-settings: 'wght' 300;
  }
}
*/


/* 기본 이미지 ------------------------------------------------------------- */

.iw-img,
section img,
img {
  width: 100%;
  max-width: 100%;
  padding-bottom: var(--iw-space);
  padding-inline: var(--iw-space);
  
  display: block;
}


/* section 1 ------------------------------------------------------------- */

.iw-1 {
}
.iw-intro {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: var(--iw-space);
  gap: var(--iw-space);
}

/* 왼쪽 박스 */
.iw-1 .box {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 오른쪽 슬라이더 */
.iw-1 .custom-slider {
  flex: 6;
  width: 100%;
}

/* 제목 */
.iw-1 .scroll-animate-text {
  flex: 1;
}

/* pc */
@media (min-width: 769px) {
  /* 한글 내용 */
  .iw-1 .sub-title {
    width: 50%;
  }
}


/* 모바일 */
@media (max-width: 768px) {
  .iw-intro {
    display: flex;
    flex-direction: column;
  }

  /* 제목 */
  .iw-1 .scroll-animate-text {
  }

  /* 한글 내용 */
  .iw-1 .sub-title {
    width: 70%;
    padding-bottom: 0;
    padding-top: 50px;
  }
}


.iw-1 .box:nth-of-type(2),
.iw-1 .box:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  gap: var(--iw-space);
  padding-inline: var(--iw-space);
}
.iw-1 .box:nth-of-type(3) {
  padding-block: var(--iw-space);
}

.iw-1 .box img {
  object-fit: cover;
  padding: 0;
  width: 100%;
  height: 100%;
}

.iw-1 .box:nth-of-type(2) img:first-of-type,
.iw-1 .box:nth-of-type(2) img:last-of-type,
.iw-1 .box:nth-of-type(3) img:first-of-type,
.iw-1 .box:nth-of-type(3) img:last-of-type {
  flex: 1;
  min-width: 0;
}

.iw-1 img[src$="9.png"] {
  padding-top: var(--iw-space);
}

















/* 모티브 ---------------------------------------------------------------------------------------- */
.iw-motif {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: block;
}

/* 제목 */
.iw-motif .scroll-animate-text {
  width: 100%;
  text-align: left;
  padding-left: 20vw;
}
/* 한글 내용 */
.iw-motif .sub-title {
  width: 60%;
  text-align: left;
  
  padding: var(--iw-space) var(--iw-space) var(--iw-space) 20vw;
}

/* 모바일 */
@media (max-width: 768px) {
  /* 한글 내용 */
  .iw-motif .sub-title {
    width: 80%;
  }
}








.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  width: 100%; 

  /* 화면 가장자리(끝)와 이미지 사이여백 */
  padding: 10vw 20vw 20vw 20vw;

  /* gap: var(--iw-space); */
  gap: 10vw; 
  
  margin: 0 auto;
}

.grid-item {
  aspect-ratio: 1 / 1; /* 그리드 이미지 비율 */
  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  transition: transform 2s var(--iw-mo);
  will-change: transform;
}
/* 사진 크기 */
.grid-item img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  padding: 0;

  transition: width 1s var(--iw-mo), height 1s var(--iw-mo);
  will-change: transform;
}

.grid-container.is-visible .grid-item {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg) scale(1);
}

/* 사진 각도 */
.grid-container:not(.is-visible) .grid-item:nth-child(1) { transform: translate(100%, 100%) rotate(-25deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(2) { transform: translate(0, 100%) rotate(15deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(3) { transform: translate(-100%, 100%) rotate(-15deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(4) { transform: translate(100%, 0) rotate(20deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(5) { transform: translate(0, 0) rotate(-5deg) scale(0.8); } /* 정중앙 (이동 없음) */
.grid-container:not(.is-visible) .grid-item:nth-child(6) { transform: translate(-100%, 0) rotate(-20deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(7) { transform: translate(100%, -100%) rotate(10deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(8) { transform: translate(0, -100%) rotate(-12deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(9) { transform: translate(-100%, -100%) rotate(25deg) scale(0.8); }

/* 애니메이션 */
.grid-container .grid-item:nth-child(5) { transition-delay: 0.0s; }
.grid-container .grid-item:nth-child(2),
.grid-container .grid-item:nth-child(4),
.grid-container .grid-item:nth-child(6),
.grid-container .grid-item:nth-child(8) { transition-delay: 0.1s; }
.grid-container .grid-item:nth-child(1),
.grid-container .grid-item:nth-child(3),
.grid-container .grid-item:nth-child(7),
.grid-container .grid-item:nth-child(9) { transition-delay: 0.2s; }


@media (max-width: 768px) {
  .grid-container {
    /* gap: 3px; */
  }
  .grid-container img {
    padding: 0;
  }
}


/* Hover: Only PC (마우스가 있는 환경) */
@media (hover: hover) and (pointer: fine) {
  .grid-item:hover img {
    width: 80%;
    height: 80%;
  }
}

/* Touch: Mobile Only (터치 환경) */
@media (hover: none) {
  .grid-item:active img,
  .grid-item:focus img {
    width: 80%;
    height: 80%;
  }
}










.iw-motif .box {
  display: flex;
  align-items: flex-start;
  gap: 20vw;

  width: 100%;

  padding-bottom: 20vw;
}

.iw-motif .box img:first-of-type,
.iw-motif .box img:last-of-type {
  min-width: 0;
  object-fit: cover;
}

.iw-motif .box img:first-of-type {
  aspect-ratio: 1 / 1;
  flex: 0.6;
}

.iw-motif .box img:last-of-type {
  aspect-ratio: 3 / 4;
  flex: 1;
}















/* 미션/비전 ------------------------------------------------------------------------------------ */
.iw-missionvision {
  padding-top: 30vh;
}

.iw-missionvision .content {
  padding: 0 var(--iw-space) 10vw var(--iw-space);
}








.iw-missionvision .box-missionvision {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  gap: var(--iw-space); 
  padding: var(--iw-space);
}

.iw-missionvision .box-missionvision img {
  flex: 1; 
  min-width: 0;
  object-fit: cover;
  padding: 0;

  aspect-ratio: 3 / 4 ;

  background-color: var(--iw-2);
}













.iw-missionvision .box img {
  object-fit: cover;
  padding: 0;
  width: 100%;
  height: 100%;
}

.iw-missionvision .box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  padding-inline: var(--iw-space);
}

/* 첫 번째 이미지 */
.iw-missionvision .box img:first-of-type {
  width: 30%;
  aspect-ratio: 3 / 4;
  background-color: var(--iw-5);
}

/* 두 번째 이미지 */
.iw-missionvision .box img:last-of-type {
  width: 55%;
  aspect-ratio: 1 / 1;
  align-self: flex-start;
}







/* 태그라인 / 핵심가치 ----------------------------------------------------------------------------- */
.iw-taglinevalue {
  padding-inline: var(--iw-space);
  padding-block: 30vh;
}

/* 태그라인 섹션 */
.iw-taglinevalue .tagline {
  width: 100%;
  padding-bottom: 30vh;
}
.iw-taglinevalue img {
  padding-inline: 0;
}
/* 제목 */
.iw-taglinevalue .tagline .scroll-animate-text {
  width: 50%;
  padding-bottom: var(--iw-space);
}
/* 한글 */
.iw-taglinevalue .tagline .sub-title {
  width: 50%;
  padding-bottom: 10vw;
}


@media (max-width: 768px) {
  /* 제목 */
  .iw-taglinevalue .tagline .scroll-animate-text {
    width: 80%;
  }

  /* 한글 */
  .iw-taglinevalue .tagline .sub-title {
    width: 100%;
  } 
}


.iw-taglinevalue .box:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
}

.iw-taglinevalue .box img {
  object-fit: cover;
  padding: 0;
  margin: 0;
}

/* 첫 번째 이미지 */
.iw-taglinevalue .box img:first-of-type {
  width: 65%;
  aspect-ratio: 4 / 3;
}

/* 두 번째 이미지 */
.iw-taglinevalue .box img:last-of-type {
  width: 25%;
  aspect-ratio: 3 / 4;
  align-self: flex-start;
  background-color: var(--iw-5);
}


















/* 핵심가치 한글설명 */
.iw-taglinevalue > .sub-title:last-of-type {
  padding-bottom: 10vw;
  width: 50%;
}


/* 공통/핵심가치: 제목 (soild/union/transition) */
.iw-taglinevalue .box-1 .scroll-animate-text,
.iw-taglinevalue .box-2 .scroll-animate-text,
.iw-taglinevalue .box-3 .scroll-animate-text
{
  margin-top: 0;
  padding-block: 10px;
}

/* 공통/핵심가치: 한글설명 */
.iw-taglinevalue .box-1 .sub-title,
.iw-taglinevalue .box-2 .sub-title,
.iw-taglinevalue .box-3 .sub-title
{
  margin: 0;
  width: 100%;
}

/* 공통/핵심가치: 한글설명 아래여백 */
.iw-taglinevalue .box-1 .sub-title,
.iw-taglinevalue .box-2 .sub-title { 
  padding-bottom: 10vw; 
}

/* 공통/핵심가치: 이미지 */
.iw-taglinevalue .box-1 img,
.iw-taglinevalue .box-2 img,
.iw-taglinevalue .box-3 img {
  width: 100%;
  object-fit: cover;
  display: block;

  padding: 0 0 10px 0;
  
}









/* 핵심가치: 1 */
.iw-taglinevalue .box-1 {
  width: 50%;
  margin-left: auto;
}

/* 핵심가치: 1: 이미지 */
.iw-taglinevalue .box-1 img {
  aspect-ratio: 4 / 3;
}





/* 핵심가치: 2 */
.iw-taglinevalue .box-2 {
  width: 100%;
}

/* 핵심가치 2: 내부 이미지 wrapper */
.iw-taglinevalue .box-2 .img-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  
  width: 50%;
}

/* 핵심가치 2: 이미지 */
.iw-taglinevalue .box-2 .img-wrapper img {
  flex: 1;
  width: 100%;
  min-width: 0;

  height: 50vh;
}

@media (max-width: 768px) {
  .iw-taglinevalue .box-2 .img-wrapper img {
    height: 30vh;
  }  
}

/* 핵심가치 2: 한글내용 */
.iw-taglinevalue .box-2 .sub-title {
  width: 50%;
}






/* 핵심가치: 3 */
.iw-taglinevalue .box-3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* 핵심가치: 3: 이미지 */
.iw-taglinevalue .box-3 img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

















/* 색상 ------------------------------------------------------------------------------------- */

.iw-color {
  display: flex;
  flex-direction: column;
  gap: 10vw;

  padding-inline: var(--iw-space);
  padding-bottom: 30vh;

  width: 100%;
}

/* 상단 헤더 (버튼 + 텍스트 가로 정렬) */
.iw-color .color-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/* 텍스트 컨테이너 */
.iw-color .color-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  /* padding-left: 50%; */
}


/* 한글내용+버튼 컨테이너 */
.iw-color .color-detail {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-end;

  padding-top: var(--iw-space);
  
}


/* 제목 */
.iw-color .scroll-animate-text {
  padding-bottom: var(--iw-space);
}

/* 한글 내용 */
.iw-color .sub-title {
  flex: 1;
  /* margin-right: 30vw; */
}

/* 버튼 */
.iw-color .show-colors-btn {
  flex-shrink: 0;
  flex: none;

  display: flex;
  flex-direction: column;      /* 세로 방향 정렬 */
  justify-content: flex-end;   /* 바닥(아래쪽)으로 붙임 */
  align-items: center;         /* 가로 중앙 정렬 */
  
  width: 50px; 
  height: 50px;

  padding: 0;
  /* border-radius: 5vw; */

  font-size: 35px;
  font-weight: 100;
  
  /* background: rgba(var(--iw-2r), 0.5); */
  background: transparent;
  color: var(--iw-4);
  cursor: pointer;
}



/* 아이콘 */
.iw-color .show-colors-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-15px) translateY(15px); /* 시각보정 */
}

/* 세로선 */
.iw-color .show-colors-btn svg .v-line {
  transform-origin: 12px 12px; 
  transition: transform 0.5s var(--iw-mo);
}

/* 세로선: .active */
.iw-color .show-colors-btn.active svg .v-line {
  transform: rotate(90deg);
}

/* 버튼 클릭 시 전체 색상 박스 활성화 */
.iw-color .color.show-all .color-block {opacity: 1;}
.iw-color .color.show-all::before {opacity: 0;}





/* 그라디언트 */
.iw-color .color {
  width: 100%;

  display: flex;
  flex-direction: column;
  
  background: linear-gradient(
    to bottom, 
    var(--iw-1) 0%, 
    var(--iw-2) 16.6%, 
    var(--iw-3) 33.3%,
    var(--iw-4) 50%, 
    var(--iw-5) 66.6%, 
    var(--iw-6) 83.3%,
    var(--iw-7) 100%
  );

  position: relative;
  overflow: hidden;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.iw-color .color::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  transition: opacity 0.5s var(--iw-mo);
  z-index: 1;
}




/* 개별 블록 */
.iw-color .color-block {
  flex: 1;
  width: 100%;

  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s var(--iw-mo);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;
  padding: var(--iw-space) var(--iw-space) var(--iw-space) 15px;

}

.iw-color .color-block:hover {
  opacity: 1;
}

/* 단색 배경 */
.iw-color .color-block.c1 { background-color: var(--iw-1); }
.iw-color .color-block.c2 { background-color: var(--iw-2); }
.iw-color .color-block.c3 { background-color: var(--iw-3); }
.iw-color .color-block.c4 { background-color: var(--iw-4); }
.iw-color .color-block.c5 { background-color: var(--iw-5); }
.iw-color .color-block.c6 { background-color: var(--iw-6); }
.iw-color .color-block.c7 { background-color: var(--iw-7); }
.iw-color .color-block.c8 { background-color: var(--iw-8); }








 


/* rgb글 */
.iw-color .color-data {
  opacity: 1;

  font-family: 'Geist';
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;

  z-index: 1;
  pointer-events: none;

}

/* color name */
.iw-color .color-data:nth-child(1) {
  width: 30%;
  text-align: left;
}

/* RGB, CMYK, HEX */
.iw-color .color-data:nth-child(2) {
  width: 50%;
  text-align: left;
}

/* PANTONE */
.iw-color .color-data:nth-child(3) {
  width: 20%;
  text-align: left;
  
}

/* RGB 라벨 숫자 사이 간격 */
.iw-color .color-data span {
  display: inline-block;
  width: 4em;
}

/* PANTONE 라벨 */
.iw-color .color-data:nth-child(3) span {
  width: auto;
  margin-right: 0.5em;
}
/* 3-8 글자색 */
.iw-color .color-block:nth-child(n+3) .color-data {
  color: var(--iw-2); 
}

@media (max-width: 768px) {
  .iw-color .color-data {
    padding: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
  }

  .iw-color .color-block {
    flex-direction: row; 
    flex-wrap: wrap;     
    align-items: flex-start;
    
    padding-left: 12px;
    padding-block: 10px;
  }

  /* color name */
  .iw-color .color-data:nth-child(1) {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  /* RGB, CMYK */
  .iw-color .color-data:nth-child(2) {
    width: 65%;
    text-align: left;
  }

  /* PANTONE */
  .iw-color .color-data:nth-child(3) {
    width: 25%;
    text-align: left;
  }
}



/* 글꼴 ------------------------------------------------------------------------------------- */

/* 상단글 */
.iw-typography .iw-row {
  width: 100%;

  padding: 0 var(--iw-space) 10vw 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  gap: 10px;
  text-align: left;

}

@media (max-width: 768px) {
  /* 상단글 */
  .iw-typography .iw-row {
    padding: 0 var(--iw-space) 10vw var(--iw-space);
  }

}

/* 제목 */
.iw-typography .iw-typo-container .iw-row .scroll-animate-text {
}
/* 한글 내용 */
.iw-typography .iw-typo-container .iw-row .sub-title {
  width: 50%;
}


/* 그리드박스 */
.iw-typography .typo-layout-flex {
  width: 100%;
  padding-inline: var(--iw-space);

  display: flex;
  flex-direction: column;
  gap: var(--iw-space);

  padding-bottom: 20vw;
}

/* 공통 박스 스타일 */
.iw-typography .typo-layout-flex .grid-box {
  background-color: var(--iw-2);
  display: flex;
}
/* 공통 이미지 스타일 */
.iw-typography .typo-layout-flex img {
  padding: 0;
  object-fit: cover;
}


/* [1줄] 첫 번째 박스 */
.iw-typography .typo-layout-flex .box-1 {
  width: 50%;
  aspect-ratio: 1 / 1;
  margin-left: auto;
}

/* [2줄] */
.iw-typography .typo-layout-flex .flex-row {
  display: flex;
  gap: var(--iw-space);
  width: 100%;
}

/* [2줄] 왼쪽 (box-2) - 한글 입력칸 설정 */
.iw-typography .typo-layout-flex .box-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;

  padding: 15px var(--iw-space) var(--iw-space) var(--iw-space);

  background-color: var(--iw-2); 
  
  font-family: 'HakgyoansimBareondotumR';
  font-size: 4vw;
  color: var(--iw-4);
  line-height: 1.1;
  letter-spacing: -0.05em;
  
  overflow: hidden;

  word-break: keep-all;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
.iw-typography .typo-layout-flex .box-2 {
  font-size: 10vw;
}
}






/* [2줄] 오른쪽 */
.iw-typography .typo-layout-flex .box-3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1 / 1;

  padding-inline: var(--iw-space);
  padding-top: 20px;
  padding-bottom: var(--iw-space);

  font-size: 10vw;
  color: var(--iw-4);
  line-height: 0.8;
  letter-spacing: -0.08em;

  transition: font-variation-settings 0.3s var(--iw-mo), font-weight 0.3s var(--iw-mo), font-style 0.3s var(--iw-mo);

  min-width: 0;
  overflow: hidden;
}

/* 글꼴 슬라이더 */
.iw-typography .slider-controls {
  display: flex;
  gap: 20px;
  width: 100%;

  /* padding-bottom: var(--iw-space);  글자칸과의 간격 */
}
.iw-typography .slider-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

/* 슬라이더 가상 트랙 */
.iw-typography .slider-item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 2px));

  width: 100%;
  height: 2px;
  background: var(--iw-4);

  z-index: 1;
  pointer-events: none; 
}

/* 슬라이더 트랙 */
.iw-typography .slider-item input[type="range"] {
  width: calc(100% + 20px);
  margin-left: -10px;

  height: 20px;
  background: transparent;

  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  /* 슬라이더 */
  .iw-typography .slider-controls {
    padding-bottom: var(--iw-space);
  }

  /* 슬라이더 트랙 */
  .iw-typography .slider-item input[type="range"] {
    height: 1.5px;
  }
}

.iw-typography .slider-item input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  width: 25px;
  height: 40px;
  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  background-color: var(--iw-4);
  background-clip: padding-box; 
  
  cursor: pointer;
  transition: transform 0.3s var(--iw-mo);
  box-shadow: none;
}

/* 2. Firefox 용 동그라미 (Thumb) 커스텀 */
.iw-typography .slider-item input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 40px;
  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  background-color: var(--iw-4);
  background-clip: padding-box; 
  
  cursor: pointer;
  box-shadow: none;
}

/* 마우스/터치 시 효과 (선택사항) */
.iw-typography .slider-item input[type="range"]::-webkit-slider-thumb:hover,
.iw-typography .slider-item input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}








/* 글자 입력칸 */
.iw-typography .typo-layout-flex .box-3 .iw-typo {
  width: 100%;
  word-break: keep-all;
  overflow-wrap: anywhere;

  font-family: 'IWOO', sans-serif;
}


/* [3줄] */
.iw-typography .typo-layout-flex .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  
  gap: 10vw;
}

/* [3줄] 왼쪽 */
.iw-typography .typo-layout-flex .box-4 {
  width: 20%; 
  aspect-ratio: 1 / 1;
}

/* [3줄] 오른쪽 */
.iw-typography .typo-layout-flex .box-5 {
  width:  50%;
  aspect-ratio: 16 / 9;
}



@media (max-width: 768px) {
  /* [1줄] 첫 번째 박스 */
  .iw-typography .typo-layout-flex .box-1 {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
  }

  /* [2줄] */
  .iw-typography .typo-layout-flex .flex-row {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--iw-space);
  }


  /* [2줄] 오른쪽 */
  .iw-typography .typo-layout-flex .box-3 {
    flex: 2;
    aspect-ratio: 1 / 1;
    font-size: 15vw;
  }



  /* [3줄] */
  .iw-typography .typo-layout-flex .bottom-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    gap: var(--iw-space);
  }

  /* [3줄] 왼쪽 */
  .iw-typography .typo-layout-flex .box-4 {
    width: 100%; 
    aspect-ratio: 1 / 1;
  }

  /* [3줄] 오른쪽 */
  .iw-typography .typo-layout-flex .box-5 {
    width:  100%;
    aspect-ratio: 16 / 9;
  }

}














/* 모티브 ---------------------------------------------------------------------------------------- */
.iw-motif {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: block;
}

/* 제목 */
.iw-motif .scroll-animate-text {
  width: 100%;
  text-align: left;
  padding-left: 20vw;
}
/* 한글 내용 */
.iw-motif .sub-title {
  width: 60%;
  text-align: left;
  
  padding: var(--iw-space) var(--iw-space) var(--iw-space) 20vw;
}

/* 모바일 */
@media (max-width: 768px) {
  /* 한글 내용 */
  .iw-motif .sub-title {
    width: 80%;
  }
}








.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  width: 100%; 

  /* 화면 가장자리(끝)와 이미지 사이여백 */
  padding: 10vw 20vw 20vw 20vw;

  /* gap: var(--iw-space); */
  gap: 10vw; 
  
  margin: 0 auto;
}

.grid-item {
  aspect-ratio: 1 / 1; /* 그리드 이미지 비율 */
  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  transition: transform 2s var(--iw-mo);
  will-change: transform;
}
/* 사진 크기 */
.grid-item img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  padding: 0;

  transition: width 1s var(--iw-mo), height 1s var(--iw-mo);
  will-change: transform;
}

.grid-container.is-visible .grid-item {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg) scale(1);
}

/* 사진 각도 */
.grid-container:not(.is-visible) .grid-item:nth-child(1) { transform: translate(100%, 100%) rotate(-25deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(2) { transform: translate(0, 100%) rotate(15deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(3) { transform: translate(-100%, 100%) rotate(-15deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(4) { transform: translate(100%, 0) rotate(20deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(5) { transform: translate(0, 0) rotate(-5deg) scale(0.8); } /* 정중앙 (이동 없음) */
.grid-container:not(.is-visible) .grid-item:nth-child(6) { transform: translate(-100%, 0) rotate(-20deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(7) { transform: translate(100%, -100%) rotate(10deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(8) { transform: translate(0, -100%) rotate(-12deg) scale(0.8); }
.grid-container:not(.is-visible) .grid-item:nth-child(9) { transform: translate(-100%, -100%) rotate(25deg) scale(0.8); }

/* 애니메이션 */
.grid-container .grid-item:nth-child(5) { transition-delay: 0.0s; }
.grid-container .grid-item:nth-child(2),
.grid-container .grid-item:nth-child(4),
.grid-container .grid-item:nth-child(6),
.grid-container .grid-item:nth-child(8) { transition-delay: 0.1s; }
.grid-container .grid-item:nth-child(1),
.grid-container .grid-item:nth-child(3),
.grid-container .grid-item:nth-child(7),
.grid-container .grid-item:nth-child(9) { transition-delay: 0.2s; }


@media (max-width: 768px) {
  .grid-container {
    /* gap: 3px; */
  }
  .grid-container img {
    padding: 0;
  }
}


/* Hover: Only PC (마우스가 있는 환경) */
@media (hover: hover) and (pointer: fine) {
  .grid-item:hover img {
    width: 80%;
    height: 80%;
  }
}

/* Touch: Mobile Only (터치 환경) */
@media (hover: none) {
  .grid-item:active img,
  .grid-item:focus img {
    width: 80%;
    height: 80%;
  }
}




























/* 키비주얼 ------------------------------------------------------------------------------------- */

/* 제목+내용 */
.iw-keyvisual .keyvisual-text {
  width: 80%;
  padding-left: 20%;
}




.iw-keyvisual .box {
  display: flex;
  align-items: flex-start;
  gap: 20vw;

  width: 100%;

}

.iw-keyvisual .box img:first-of-type,
.iw-keyvisual .box img:last-of-type {
  min-width: 0;
  object-fit: cover;
}

.iw-keyvisual .box img:first-of-type {
  aspect-ratio: 3 / 4;
  flex: 1;
}

.iw-keyvisual .box img:last-of-type {
  
  aspect-ratio: 4 / 3;
  flex: 0.6;
}



/* 어플리케이션 ------------------------------------------------------------------------------------- */

.iw-applications {
  width: 100%;
  padding-block: 30vh;
  padding-inline: var(--iw-space);
}

.iw-applications .etc .scroll-animate-text {
  padding-block: var(--iw-space);
}

/* 한글 내용 */
.iw-applications .etc .sub-title {
  width: 50%;
  padding-bottom: 10vw;
}


@media (max-width: 768px) {
  .iw-applications .etc .sub-title {
    width: 80%;
  }

}






.iw-applications .applications-img {
  padding-bottom: var(--iw-space);
}










.iw-applications .box-stationery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;

  padding-block: var(--iw-space);
}

.iw-applications .box-stationery img,
.iw-applications img {
  object-fit: cover;
  padding: 0;
  margin: 0;
  
}

/* 첫 번째 이미지 */
.iw-applications .box-stationery img:first-of-type {
  width: 50%;
  aspect-ratio: 3 / 4;
}

/* 두 번째 이미지 */
.iw-applications .box-stationery img:last-of-type {
  width: 40%;
  aspect-ratio: 1 / 1;
  align-self: flex-start;
}


.iw-applications .box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  gap: var(--iw-space);

  padding-block: var(--iw-space);
}

.iw-applications .box img {
  flex: 1;
  min-width: 0;
}